@font-face {
  font-family: 'Star Jedi';
  font-weight: 400;
  src: url('./assets/fonts/STJEDISE.TTF') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Death Star';
  font-weight: 400;
  src: url('./assets/fonts/DeathStar.ttf') format('truetype');
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}