.Movies__Wrapper {
  overflow: auto;
  height: calc(100vh - 70px);
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  & > .Movies__Inner__Wrapper {
    display: flex;
    flex: 0.9;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
