.Card {
  display: flex;
  width: calc(100vw / 3);
  min-width: 300px;
  max-width: 450px;
  height: 250px;
  background: transparent;
  margin: 20px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  background: #1d1a1a;
  overflow: hidden;
  &:hover {
    transform: scale(1.01);
  }

  & .Image {
    height: 100%;
    width: 150px;
  }

  & > .Card__Info {
    flex-basis: 100%;
    position: relative;
  }

  & .Card__Footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
  }
}
