.Home__Base {
    display: flex;
    & .Home__Section {
        flex-basis: 100%;
        padding: 10px;
        & .Text {
            font-weight: 400;
            display: block;
        }
        & .Title {
            font-family: 'Star Jedi';
            font-size: 5vw;
            text-align: center;
            text-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
        }
        & .Subtitle {
            font-family: 'Death Star';
            font-size: 20px;
        }
    }
    & .Home__Image {
        width: 100%;
        height: auto;
    }
}

